@charset "utf-8";
@media (maxwidth: 1024px) {
    .main-visual {
        padding-top: 120px;
        padding-bottom: 80px;
    }
    .top-title {
        font-size: 60px;
    }
    .header-left {
        display: none;
        text-align: center;
    }
    .header-right {
        font-size: 14px;
    }
}